{% extends "base_site" %}

{% block main %}
<body>

    

    <a title="Scroll Up" aria-label="Scroll Up" class="affix-top" href="#top" id="scrollup" data-spy="affix" data-offset-top="101"></a>

    
    <!-- PAGE_BODY -->
    <section id="page-wrap">



        
        
        
        <!-- content -->
        <section class="content-section">
            <div class="container">
                <div class="row">
                    <!-- main-col -->
                    <div class="col-md-8 mb-big-sm">
                        
                        
                        <h2>About the Presidential Initiative</h2>
                        <div class="textbox">AACI distinguishes itself among professional cancer organizations through its ongoing engagement with&nbsp;academic cancer centers. Many of the association&#39;s signature programs and initiatives were developed by cancer center leadership. The AACI Presidential Initiative allows the president of AACI&#39;s Board of Directors to formalize a special project of broad interest and value to AACI members during their two-year term.&nbsp;</div>
                        
                        <h2></h2>
                        <div class="textbox"><img class=" align-left " src="/Files/User/jensen%2Ejpg"/><h4>A Resource Library to Benefit AACI Cancer Centers</h4>

<p>For his presidential initiative, <a href="/Bio-Roy-Jensen">Dr. Roy Jensen</a> will spearhead the development of a comprehensive, cancer-specific library of model legislation, communication tools, and other resources.<br />
<br />
Inspired by successful efforts at The University of Kansas Cancer Center and the work of national cancer advocacy organizations, Dr. Jensen will launch a web-based resource library to address issues ranging from oral chemotherapy parity and HPV vaccination to state-level funding for cancer research and coverage of routine care for clinical trials.<br />
<br />
Dr. Jensen hopes to offer a dynamic, online library of model policies &ndash; each of which is the product of many hours of research and data collection. The database will serve as a &quot;one-stop shop&quot; for information that AACI&rsquo;s members can use to educate legislators on the issues vital to decreasing cancer incidence and mortality in their catchment area.&nbsp;Through partnerships with other national cancer advocacy organizations, AACI will collect robust data to support policy statements on a range of issues.<br />
<br />
The&nbsp;library has the potential to expand over time&nbsp;from two or three model policies to a portfolio with dozens of resources. The goal&nbsp;is that members who access the&nbsp;tools will walk away with solid public policy proposals, talking points, and educational materials&nbsp;that stimulate real change.&nbsp;</p>
</div>
                        
                        
                    </div>
                    <!-- /main-col -->
                    
                    <!-- side-col -->
                    <aside class="col-md-4 indent-left">
                        
                        
                        <div class="side-block mb  bg-mint-green-gradient  color-white">
                            
                            <h3>Meet Our Board</h3>
                            <A   class="more-link link-block"  HREF="/board-of-directors">View Board of Directors</A>
                        </div>
                        
                        <div class="side-block mb bg-dark-blue-gradient color-white">
                            
                            <h3>Public Policy</h3>
                            <div class="textbox">AACI works on behalf of its cancer centers to advocate for federal funding for the National Institutes of Health and the National Cancer Institute.&nbsp;</div>
                            <A   class="more-link link-block"  HREF="/public-policy">Learn More</A>
                        </div>
                        
                        <div class="blockquote-wrap mb">
                            <h3 class="blockquote-title"></h3>
                            <div class="blockquote-text mb">My hope is that by creating model legislation on a variety of key issues, we will be able to collectively push state policies forward to improve the prevention and treatment of cancer across the country.&nbsp;</div>
                            <div class="blockquote-author">
                                <div class="author">Dr. Roy A. Jensen</div>
                                <div class="company small">AACI Board of Directors</div>
                            </div>
                        </div>
                        
                        
                    </aside>
                    <!-- /side-col -->
                </div>
            </div>
        </section>
        <!-- /content -->
        
        
        
        <!-- cta -->
        <section class="content-section cta-section bg-dark-blue color-white text-center">
            <div class="front-graphic-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                        <h2>How Does Cancer<br>Impact Your State?</h2>
                        <div class="textbox">
                            
                            <p><A   class="btn btn-white"  HREF="/state-fact-sheets">View State Fact Sheets</A></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /cta -->
        
        
    </section>
    <!-- /PAGE_BODY -->
    
    
        <script src="/files/admin/js/bootstrap.min.js"></script>
        
    

</body>
</html>


{% endblock %}