<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="{{ alias('@web/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- <link href="{{ alias('@web/css/font-awesome.min.css') }}" rel="stylesheet"> -->
    <link href="{{ alias('@web/css/fonts.css') }}" rel="stylesheet">
    <link href="{{ alias('@web/js/slick/slick.css') }}" rel="stylesheet">
    <link href="{{ alias('@web/css/theme.css') }}" rel="stylesheet">
    <link href="{{ alias('@web/css/responsive.css') }}" rel="stylesheet">

    <script src="{{ alias('@web/js/jquery.min.js') }}"></script>

    <script src="js/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js'></script>
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>

    <!-- <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<a class="affix-top" href="#top" id="scrollup" data-spy="affix" data-offset-top="101" title="Scroll Up"></a>

	<!-- PAGE_BODY -->
    <section id="page-wrap">

        <!-- header -->
        <header id="header">

            <nav class="navbar affix-top" data-spy="affix" data-offset-top="101">
                <div class="container">

                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ siteUrl }}">
                            <img src={{ alias('@web/assets/images/logo.png') }} alt="Company Logo" title="">
                        </a>
                        <button id="mobile_nav_btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target-custom="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars fa-lg"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navigation">
                        <div class="inner-wrap">

														{% set base_site_header = craft.entries.section('base_site_section').first() %}
														{% set home_name = base_site_header.navBarText.homePageName %}
														{% set about_name = base_site_header.navBarText.aboutPageName %}
														{% set topics_name = base_site_header.navBarText.topicsPageName %}
                            <ul class="nav navbar-nav" id="main-nav">
                                <li><a href="{{ siteUrl }}">{{ home_name }}</a></li>
                                <li><a href="{{ url('about') }}">{{ about_name }}</a></li>
                                <li><a href="{{ url('topics') }}">{{ topics_name }}</a></li>
                            </ul>

                            <ul class="nav navbar-nav" id="top-nav">
                            </ul>

                        </div>
                    </div>

                </div>
            </nav>

        </header>
        <!-- /header -->

				{% block internalHeader %}
				{% endblock %}

				{% block main %}
        {% endblock%}

    </section>
    <!-- /PAGE_BODY -->

    <!-- FOOTER -->
    <footer id="footer">

        <!-- footer-top -->
        <section id="footer-top">
						{% set entry = craft.entries.section('base_site_section').first() %}
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-sm mb-big-xs">

                        <div class="contacts-wrap">
                            <div class="item mb">
                                <div class="item-label small color-blue">
                                    Address
                                </div>
                                <div>
                                    <strong>{{ entry.addressHeading }}</strong>
                                </div>
                                <div>
                                    {{ entry.address }}
                                </div>
                            </div>
                            <div class="item mb">
                                <div class="item-label small color-blue">
                                    Phone
                                </div>
                                <div>
                                    <a href="tel:{{ entry.phoneNumber }}">{{entry.phoneNumber}}</a>
                                </div>
                            </div>
                            <div class="item mb">
                                <div class="item-label small color-blue">
                                    Email
                                </div>
                                <div>
                                    <a href="mailto:{{entry.email}}">{{entry.email}}</a>
                                </div>
                            </div>
                            <div class="social-links">
                        		  <a href="{{ entry.socialMediaLinks.twitterLink }}" target="_blank"><span class="fa fa-twitter fa-lg"></span></a>
                            	<a href="{{ entry.socialMediaLinks.facebookLink }}" target="_blank"><span class="fa fa-linkedin fa-lg"></span></a>
                            	<a href="{{ entry.socialMediaLinks.linkedinLink }}" target="_blank"><span class="fa fa-facebook-f fa-lg"></span></a>
                        	</div>
                        </div>

                    </div>

            </div>
        </section>
        <!-- /footer-top -->

        <!-- footer-bottom -->
        <section id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mb-xs">
                        Copyright 2018 AACI
                    </div>
                    <div class="col-sm-6">
                        <div class="privacy-links">
                            <span><a href="serger">Privacy Policy</a></span>
                            <span><a href="sehr">Disclosures</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /footer-bottom -->

    </footer>
    <!-- /FOOTER -->

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>

    <!-- slick carousel -->
    <script type="text/javascript" src="js/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#main-slider').slick({
                infinite: false,
                dots:true,
                arrows:false,
                autoplay:false,
                fade:true
            });
        });
    </script>
</body>
</html>
