{% extends "base_site" %}

{% block internalHeader %}
  
  {% if entry.homePageSearchLogo|length %}
    {% set logo = entry.homePageSearchLogo.one() %}
  {% else %}
    {% set logo = craft.assets.volume('Logos').title('Default').one() %}
  {% endif %}

  <a class="home-brand">
  <img src="{{ logo.url }}"" alt="Company Logo" class="home-logo">
  </a>
{% endblock %}

{% block main %}

    <!-- search bar -->
    <!-- source: https://codepen.io/huange/pen/rbqsD -->
    <section class="content-section">
        <div class="wrap">
            <div class="search">
                <form action="{{ url('search-results') }}" >
                    <input type="search" name='q' class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>

    </section>

    <!-- cta -->
        <section class="content-section cta-section bg-dark-blue color-white text-center">
            <div class="front-graphic-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                        <h2>How Does Cancer<br>Impact Your State?</h2>
                        <div class="textbox">

                            <p><A   class="btn btn-white"  HREF="/state-fact-sheets">View State Fact Sheets</A></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /cta -->


{% endblock %}
