{# RESOURCE SHOW PAGE #}

{% extends "base_site" %}

{% set asset = craft.assets.id(number).first() %}

{% block internalHeader %}
<!-- internal-header -->
<section class="internal-header-section bg-dark-blue color-white">
    <div class="front-graphic-top"></div>
    <div class="front-graphic-bottom"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-3 col-sm-11 col-sm-offset-1">
                <h2>{{ asset.title }}</h2>
            </div>
        </div>
    </div>
</section>
<!-- /internal-header -->
{% endblock %}

{% block main %}

    <!-- content -->
        <section class="content-section">
            <div class="container">
                <div class="row">
                    <!-- main-col -->
                    <div class="col-md-8 mb-big-sm">

                        {# Get the Topic and Subtopic the resource belongs to #}
                        {% set relatedSubtopic = craft.entries.section('all_topics').relatedTo(asset).one() %}
                        {% if relatedSubtopic|length %}
                          {% set relatedTopic = relatedSubtopic.parent %}
                        {% endif %}

                        {% if relatedSubtopic|length %}
                              <a href=" {{ relatedTopic.url }}">{{ relatedTopic }}</a>
                              /
                              <a href=" {{ relatedSubtopic.url }}">{{ relatedSubtopic }}</a>
                              <br><br>
                        {% endif %}

                        <div class="textbox">
                            {{ asset.shortDescription }}
                        </div>

                        <embed src="{{ asset.url }}" type="application/pdf" width="100%" height="600px" />

                    </div>

                </div>
            </div>
        </section>

{% endblock %}
