{% extends "base_site" %}

{% block main %}
<section class="content-section">
    <div class="container">


        {% set subtopic_assets = craft.assets.volume('resources').all() %}
<table>
        <tr>
          <th>Name</th>
    <th colspan="2">Description</th>
          {% for asset in subtopic_assets %}

           <td>{{ asset.title }}</td>
           <td>{{ asset.shortDescription }}</td>
           <td></td>
       </tr>
            {% endfor %}
</table>
      </div>
  </section>
{% endblock %}
