{# topic show page #}

{% extends "base_site" %}

{% block internalHeader %}
<!-- internal-header -->
<section class="internal-header-section bg-dark-blue color-white">
    <div class="front-graphic-top"></div>
    <div class="front-graphic-bottom"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-3 col-sm-11 col-sm-offset-1">
                <h1>{{entry.title}}</h1>
            </div>
        </div>
    </div>
</section>
<!-- /internal-header -->
{% endblock %}

{% block main %}
            <!-- subtopics -->
            <link href="{{ alias('@web/css/members-module.css') }}" rel="stylesheet">
            <div class="content-section">
                <div class="container">
                  <div class="slogan">
                  <h4>{{ entry.slogan }}</h4><br>
                  </div>
                  <h6>{{ entry.shortDescription}}</h6><br>
                    <div class="row members-listing">

                   {# Create the query to display topics as panels #}

                   <!-- Take all the subtopic entries underneath this parent entry -->
                   {% if entry.children|length %}
                    {% set subtopicsEntryQuery = entry.children %}
                   {% else %}
                      {% set subtopicsEntryQuery = NULL %}
                   {% endif %}

                   {# Fetch the topics entries #}

                   {% if subtopicsEntryQuery|length %}
                    {% set subtopicsEntries = subtopicsEntryQuery.all() %}
                   {% else %}
                    {% set subtopicsEntries = NULL %}
                    {% endif %}

                   {# Display the entries #}

                   {% for entry in subtopicsEntries %}
                       <div class="col-md-4 col-sm-6 col-xs-12">
                         <a href="{{ entry.url }}">
                         <div class="personal-card">
                        <div class="image-block">
                               {% set subtopicIcon = craft.assets.volume('topicIcons').title('Default').one() %}

                               {# if there is an icon given #}
                               {# set the subtopic icon to it #}
                               {% if entry.icon|length %}
                                   {% set subtopicIcon = entry.icon.one() %}
                               {% endif %}

                               <img src="{{ subtopicIcon.url }}" alt="{{ subtopicIcon.title }}">

                           </div>

                           <div class="card-body">
                               <div class="inner-wrap mb">
                                   <h4 class="card-title color-black">{{ entry.title }}</h4>
                                   <div class="textbox color-black">
                                       {{ entry.shortDescription}}<br>
                                   </div>
                               </div>
                               <a class="more-link link-block" href="{{ entry.url }}">Learn More </a>
                           </div>
                       </div>
                       </a>
                       </div>
                  {% endfor %}
                  <!-- subtopics -->

{% endblock %}
