{% extends "base_site" %}

{% block internalHeader %}
<!-- internal-header -->
<section class="internal-header-section bg-dark-blue color-white">
    <div class="front-graphic-top"></div>
    <div class="front-graphic-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-3 col-sm-11 col-sm-offset-1">
                <h1>{{entry.heading}}</h1>
            </div>
        </div>
    </div>
</section>
<!-- /internal-header -->
{% endblock %}

{% block main %}
<!-- LISTS ALL THE TOPICS !-->

        <!-- topics -->

        <section class="content-section" id="programs-section">
            <div class="bg bg-light-gray"></div>
            <div class="container">
                <div id="programs-list" class="row mb-big">

          {# Create the query to display topics as panels #}
					{% set topicsEntryQuery = craft.entries()
					    .section('all_topics')
					    .level('1') %}

					{# Fetch the topics entries #}
					{% set topicsEntries = topicsEntryQuery.all() %}

					{# Display the entries #}
					{% for entry in topicsEntries %}
					    <div class="col-sm-4 item">
                        	<div class="item-image">
                        		{% set topicIcon = craft.assets.volume('topicIcons').title('Default').one() %}

                        		{% if entry.icon|length %}
                        			{% set topicIcon = entry.icon.one() %}
                        		{% endif %}

                        		<img src="{{ topicIcon.url }}" alt="{{ topicIcon.title }}">

                        	</div>
                        	<div class="item-content">
                            	<div class="inner-wrap mb">
                                	<h4>{{ entry.heading }}</h4>
                                	<div class="textbox small">
                                    	{{ entry.shortDescription }}
                                	</div>
                            	</div>
                            	<a class="more-link link-block" href="{{ entry.url }}">Learn More </a>
                        	</div>
                        	<div class="border bg-green"></div>
                    	</div>
					{% endfor %}

        <!-- /topics -->
{% endblock %}
